.container {
  width: 100%;
  padding: 0 20px;
  margin: 0;

  @media screen and (min-width: $w-mobile) {
    width: $w-mobile;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $w-tablet) {
    padding: 0 30px;
    width: $w-tablet;
  }

  @media screen and (min-width: $w-desctop) {
    width: $w-desctop;
  }
}
