/* фиксированый header с тенью*/
.header {
  // position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}
.header-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
/*end фиксированый header с тенью*/

// Фон для заголовка
.header {
  padding-top: 40px;
  min-height: 230px;

  // 1X увеличение
  background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
    url('../images/header/background/mobile/mobile-bg1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $w-tablet) {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/header/background/tablet/tablet-bg1x.jpg');
  }
  @media screen and (min-width: $w-desctop) {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/header/background/desktop/desktop-bg1x.jpg');
  }

  // 2X увеличение
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/header/background/mobile/mobile-bg2x.jpg');
    @media screen and (min-width: $w-tablet) {
      background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
        url('../images/header/background/tablet/tablet-bg2x.jpg');
    }
    @media screen and (min-width: $w-desctop) {
      background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
        url('../images/header/background/desktop/desktop-bg2x.jpg');
    }
  }
}

// Стили на лого и линк
.link {
  text-decoration: none;
  cursor: pointer;
  color: $front-color;
}

.logo {
  display: flex;
  align-items: center;
  font-family: $font-primary;
  font-weight: $fw-medium;
  font-size: 30px;
  line-height: $line-height;
}

.logo__icon {
  @media screen and (min-width: $w-tablet) {
    margin-right: 10px;
  }
}

.link__current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $third-color;
  opacity: 1;
}

// Навигация по сайту
.main-nav {
  text-align: center;
  display: flex;
  @media screen and(min-width: $w-mobile) {
    margin-bottom: 40px;
  }
}

.title {
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.site__nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  font-family: $font-primary;
  font-weight: $fw-medium;
  font-size: 12px;
  line-height: $line-height;
  list-style: none;
  text-transform: uppercase;
}

.site-nav__item {
  text-transform: uppercase;
  position: relative;
}

.site-nav__item:last-child {
  margin-left: 40px;
}

// Стилизация формы поиска
.header-form {
  position: relative;
  display: block;
  text-align: start;
  font-family: $font-primary;
  font-size: 14px;
  line-height: $line-height;
  color: $front-color;

  @media screen and(min-width: $w-tablet) {
    text-align: center;
  }
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $front-color;
  outline: none;
  color: $front-color;
  width: 100%;
  margin-bottom: 22px;

  @media screen and (min-width: $w-mobile) {
    width: 280px;
  }
  @media screen and (min-width: $w-tablet) {
    width: 336px;
  }
}
.form-input::placeholder {
  color: $front-color;
}

.search__icon {
  fill: $front-color;
  position: absolute;
  top: 0;
  transform: translateX(-20px) translateY(25%);
}

.text-error {
  margin: 0;
  color: $action-message-color;
}

// Стили ля display none
.hide {
  display: none;
}

// Стили ссылки для My library

// .header-library {
//   padding-top: 40px;
//   min-height: 230px;

//   // 1X увеличение
//   background-image: url('../images/header/background/mobile/mobile-library-bg1x.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   @media screen and (min-width: $w-tablet) {
//     background-image: url('../images/header/background/tablet/tablet-library-bg1x.jpg');
//   }
//   @media screen and (min-width: $w-desctop) {
//     background-image: url('../images/header/background/desktop/desktop-library-bg1x.jpg');
//   }

//   // 2X увеличение
//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: url('../images/header/background/mobile/mobile-library-bg2x.jpg');
//     @media screen and (min-width: $w-tablet) {
//       background-image: url('../images/header/background/tablet/tablet-library-bg2x.jpg');
//     }
//     @media screen and (min-width: $w-desctop) {
//       background-image: url('../images/header/background/desktop/desktop-library-bg2x.jpg');
//     }
//   }
// }
