<div class="clear-library">
    <h3 class="clear-library__title">No Movies</h3>
    <img class="clear-library__image" src="../images/library/theEnd.jpg" alt="" >
    <button class="clear-library_btn" type="button">Home</button>
</div>