<div class="clear-library">
    <h3 class="clear-library__title">{{text}}</h3>
    <img class="clear-library__image" src="../images/library/theEnd.jpg" alt="" >
    <a class="clear-library_btn"  href="">Home</a>
</div>