<div class="filter">
    <ul class="filter__list">
        <li class="filter__item">
            <button class="filter__btn button js-btn-watched" type="button">Watched</button>
        </li>
        <li class="filter__item">
            <button class="filter__btn button js-btn-queue" type="button">Queue</button>
        </li>
    </ul>
</div>