// Color
$primary-color: #000000;
$secondary-color: #8c8c8c;
$third-color: #ff6b08;
$front-color: #ffffff;
$action-message-color: #ff001b;
$bg-color-futer: #f7f7f7;

// Fonts
$font-primary: 'Roboto', sans-serif;

// Weight
$fw-regular: 400;
$fw-medium: 500;
$line-height: 1.16;

// Width-container
$w-desctop: 1024px;
$w-tablet: 768px;
$w-mobile: 320px;
