<!-- <footer class="footer">
    <div class="container">
        <span>© 2020 | All Rights Reserved | Developed with <svg width="14px" height="13px">
                <use href=""></use>
            </svg> by</span>
        <button type="button">GoIT Students</button>
    </div>
</footer> -->

<footer class="footer">
    <div class="footer__container container ">
        <span class="footer__container-list list">&#169; 2021 | All Rights Reserved | </span></li>
        <span class="footer__container-list ">Developed with

        <svg width="14" height="13" class="footer__container-list-icon heart">
        <use href="./images/icon/icons.svg#icon-heart">
         </use>
        </svg>
       <button href="#" class="button-students" type="button">by <span class="students">GoIT Students</span></button> 
        </span>
          

        
    </div>
</footer>