<!-- <footer class="footer">
    <div class="container">
        <span>© 2020 | All Rights Reserved | Developed with <svg width="14px" height="13px">
                <use href="./images/icon/heart.svg"></use>
            </svg> by</span>
        <button type="button">GoIT Students</button>
    </div>
</footer> -->

<footer class="footer ">
    <div class="footer__container">
        <ul class="footer__container-block">
            <li class="footer__container-list list">&#169; 2021 | All Rights Reserved | </li>
            <li class="footer__container-list "> Developed with

                <svg width="14" height="13" class="footer__container-list-icon">
                    <use href="./images/icon/icons.svg#icon-heart">
                    </use>
                </svg>
                <a class="">by GoIT Students</a>
            </li>

        </ul>
    </div>
</footer>