<header class="header">
  <div class="container">
    <svg width="28px" height="28px">
      <use src="./images/icon/logo.svg"></use>
    </svg>
    <a href="">Filmoteka
    </a>
    <form action="">
      <label>

        <input type="text" name="query" autocomplete="off" placeholder="film" />
      </label>

      <button type="submit">
        <svg width="12px" height="12px">
          <use href=""></use>
        </svg>
      </button>
    </form>
    <button type="button">Home</button>
    <button type="button">my library</button>
</header>