<main class="content">
  <div class="container wrapper-films"></div>
  <!--закоментировать-->
  <div class="container wrapper"></div>
  <div class="pagination">
    <ul class="list-pagination js-pagination">
      <!-- <li class="pagination-arrow"><svg class="icon">
          <use href="./images/icon/icons.svg#icon-arrow-left"></use>
        </svg></li>
      <li class="pagination-arrow"><svg class="icon">
          <use href="./images/icon/icons.svg#icon-arrow-right"></use>
        </svg></li> -->
    </ul>
  </div>
</main>