<div class="team-modal backdrop js-team-modal is-hidden">
  <div class="team-modal-context">
    <button type="button" class="team-modal__btn" aria-label="кнопка закрытия модального меню">
      <svg class="team-modal__cross" width="40" height="40">
        <use href="./images/icon/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <ul class="team-modal__list">
      <!-- Developer 1 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/bogdan.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Bogdan Kozhoma</h3>
          <p class="team-modal__item-text">Team Leader / Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/bogdan-kozhoma-79782920b/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/Bogdan-K-A"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/K_Bogdan87" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 2 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/dima.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Dmytro Bolharin</h3>
          <p class="team-modal__item-text">Scram master / Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/dmytro-bolgarin-531a2621b/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/Monerk98?tab=repositories"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/Nikopol98" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 3 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/arsen.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Arsen Temurian</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a href="" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://github.com/Arsen7878" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/TEdmon" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 4 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/natali.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Natalia Odinets</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/natalia-odinec-30a2a7226/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/nattalliaod"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/nataliaodinets" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 5 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/vlad.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Vladislav Prokopenko</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/vladislav-prokopenko-35b87420a"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/quezzo-dev"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/magnetiv" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 6 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/andrey.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Andrey Shavrov</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/andrey-shavrov-158086226/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/Andrii-Shavrov"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://t.me/andrey_shavrov84"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 7 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/danil.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Danylo Nehreba</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/danylo-nehreba-25806320a/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://github.com/Butanasi" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/Butanasi" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 8 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/lena.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Olena Zabolotnia</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/olena-zabolotnia-a80899225/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/OlenaZ-nia"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/OlenaZ_nia" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 9 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/ruslan.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Ruslan Tuliabaeiev</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/in/%D1%80%D1%83%D1%81%D0%BB%D0%B0%D0%BD-%D1%82%D1%83%D0%BB%D1%8F%D0%B1%D0%B0%D0%B5%D0%B2-984b0b219"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/Ruslan-Tuliabaeiev?tab=repositories"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/Ruslan" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Developer 10 -->
      <li class="team-modal__item">
        <div class="team-modal__item-img">
          <img src="./images/team/ivan.jpg" alt="Developer" />
        </div>
        <div class="team-modal__item-content">
          <h3 class="team-modal__item-title">Ivan Oliinyk</h3>
          <p class="team-modal__item-text">Developer</p>
          <ul class="team-modal__links-list">
            <li class="team-modal__links-item">
              <a
                href="https://www.linkedin.com/feed/"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon-linkedin icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a
                href="https://github.com/Ivan-Oliinyk"
                class="team-modal__links-link"
                target="_blank"
              >
                <svg class="icon-linkedin icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="team-modal__links-item">
              <a href="https://t.me/OliVan1991" class="team-modal__links-link" target="_blank">
                <svg class="icon" width="20" height="20">
                  <use href="./images/icon/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
