.list-pagination {
  margin-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num,
.pagination-icon-left,
.pagination-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 5px;
}

.dots {
  margin-right: 4px;
}
.num,
.pagination-icon-left,
.pagination-icon-right {
  margin-right: 4px;
  cursor: pointer;
}

.num:hover,
.pagination-icon-left:hover,
.pagination-icon-right:hover {
  background: #ff6b08;
  color: white;
  stroke: white;
}

.list-pagination li.active {
  background: #ff6b08;
  color: white;
}

.pagination-icon-left,
.pagination-icon-right {
  background: #f7f7f7;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: #000000;
  fill: #000000;
}
