.list-pagination {
  margin-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num,
.pagination-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 5px;
}

.dots {
  margin-right: 4px;

  @media screen and (max-width: $w-mobile) {
    display: none;
  }
}

.num,
.pagination-arrow {
  margin-right: 4px;
  cursor: pointer;
}

.num:hover,
.pagination-arrow:hover {
  background: #ff6b08;
  color: white;
  stroke: white;
}

.list-pagination li.active {
  background: #ff6b08;
  color: white;
}

.pagination-arrow {
  background: #f7f7f7;
  stroke: #000000;
}

.pag-icon {
  width: 16px;
  height: 16px;
}
